@tailwind base;
@tailwind components;
@tailwind utilities;

.border-1 {
  border: 1px solid #dbdbdb;
}

.inst-color {
  background-image: linear-gradient(
    to right,
    rgba(254, 218, 117),
    rgba(250, 126, 30),
    rgba(214, 41, 118),
    rgb(169, 110, 192),
    rgba(79, 91, 213)
  );
}

@media only screen and (max-width: 933px) {
  .tablet {
    display: none;
  }
}
@media only screen and (max-width: 933px) {
  .tablet-min {
    display: flex;
    flex-direction: column;
    margin-left: 275px;
    align-items: center;
  }
}

@media only screen and (max-width: 1420px) {
  .text-hidden {
    display: none; 
    transition-duration: 0.5s;

  }
  .icon-show {
    display: flex;
  }
  .res-width {
    width: 95px;
    transition-duration: 0.5s;            
  }
  
}

@media only screen and (max-width: 1135px) {
  .suggestion-hidden {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .res-width {
    width: 95px;
    transition-duration: 0.5s;    
  }
}

.width-size {  
  width: 95px;
  transition-duration: 0.5s;  
}


/* .checkbox-round {
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background-color: gray;
} */




